* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container-main {
  background-color: #00f;
  width: 85rem;
  margin: 4rem auto;
}

.container {
  background-color: #63e6be;
  display: grid;
  grid-template-columns: 1fr 45rem;
  column-gap: 3rem;
  column-gap: 2rem;
  row-gap: 2rem;
  border-radius: 3rem;
  padding: 0 2rem;
  margin: 0 2.5rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin: 1.5rem;
  grid-column: 1/-1;
}

.logo {
  font-size: 3.5rem;
}

.navbar {
  font-size: 1.8rem;
}

a:link {
  text-decoration: none;
  padding: 8px;
  color: darkblue;
}

em {
  color: orangered;
}

h1 {
  font-size: 4rem;
  padding: 1.5rem;
}

h4 {
  font-size: 1.5rem;
  padding: 1.5rem;
}

.image {
  width: 85%;
  margin-top: 2.5rem;
  border-radius: 3rem;
  box-shadow: 0 2rem 3rem 0 rgb(0, 98, 255);
}

button {
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  font-weight: 100;
  color: white;
  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
  text-align: center;
  margin: 2rem;
  background-color: #00f;

  transition: background-color 0.5s;
}

button:hover {
  background-color: white;
  color: #00f;
}
