* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* BODY */
.container {
  background-color: #407bff;
}

.container_main {
  background-color: rgb(156, 245, 213);
  border-radius: 2rem;
  padding: 4rem;
  width: 80%;
  margin: 2em 2em;
  margin-left: 8rem;
  overflow: hidden;
}

.header {
  display: flex;
  margin-top: -40px;
  text-align: center;
}

.logo {
  padding: 60px;
}

/* List item */
.navbar {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-top: 2rem;
}

.navbar li a {
  text-decoration: none;
  justify-content: space-between;
  padding-left: 1.5rem;
  font-size: 18px;
  color: darkblue;
}

.column {
  float: left;
  width: 50%;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

/* Elements */
h1 {
  font-size: 40px;
  margin-top: 1rem;
}

h3 {
  font-size: 35px;
  margin-top: 1.5rem;
  margin-left: -20px;
}

em {
  color: rgb(255, 65, 12);
}

/* Button */
.btn {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 100;
  color: white;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-top: 3rem;
  background-color: #407bff;
}

.btn:hover {
  background-color: white;
  color: #407bff;
}

/* Image */
.image {
  width: 330px;
}
